<div id="navbar">
		<div id="logo">
		</div>
	</div>
	<div id="wrapper">
		<div id="profile">
		
		<div id="socialicons">
				<%= image_tag("fblogo.png", :size => "25x25") %>
				<%= if current_user.twitter 
				image_tag("twitterlogo.png", :size => "25x25") 
				end %>
		</div>
				
			<div id="content">
				<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
				
				
				<% if current_user.twitter %>
				<p><%= Twitter.user("#{current_user.twitter}").description %></p>
				<% end %>
				<br>
				
				
			</div>
		</div>
		<div id="avatar">
		<%= image_tag "/data/#{current_user.id}/profilePic", :class => "profilePic"%>
		</div>
		<div id="module1">
			<div class="block1">
				<p>Friend Network</p>
				<hr>
			</div>
			<div class="block1">
				<p>Type of Check-Ins</p>
				<hr>
			</div>
			<div class="block1">
				<p>Type of Likes</p>
				<hr>
			</div>
		</div>
		<div id="module2">
			<div class="block2">
				<p>Twitter Activity</p>
				<hr>
				
				<% if current_user.twitter %>
				<p>
				<!-- Get latest Tweets -->
				<% @tweets = Twitter.search("from:#{current_user.twitter}", :include_entities=>true, :rpp => 3, :result_type => "recent").map do |status|
 				status.text
  					 end 
  				%>
  				<% @tweets.each do |t| %>
  				<p><%= t %> </p><br>
  				<% end %>
				<!-- END Get latest Tweets -->				
				</p>
				
				<!-- Get latest hashtags -->
				<% @tweets = Twitter.search("from:#{current_user.twitter} #", :include_entities=>true, :type => "recent") %>
  				<% result = Hash.new(0)
  				@tweets.each do |t| 
  				hash = ((t.hashtags).map(&:text).flatten)
  				hash.each { |ht| result[(ht.downcase)] += 1 }
  				 end %>
  				<p>
  				Twitter Hashtags: <%= result %>
  				</p>
  				
				<!-- END Get latest Tweets -->	
				
				
				<% else %>
				
				Give us your twitter handle
				<%= link_to 'Add Twitter Handle', edit_user_path(current_user.id) %>
				
				
				<% end %>
			</div>
		</div>
		
		<div id="module3">
			<div class="block3">
				<p class="block3p">Twitter Statistics</p>
				<hr>
				<% if current_user.twitter %>
				<p class="statscaption force">Last seen in</p>
				<p class="statsdata force"><%= Twitter.user("#{current_user.twitter}").location %></p>
				<p class="statscaption force">Number of tweets</p>
				<p class="statsdata force"><%= Twitter.user("#{current_user.twitter}").statuses_count %></p>
				<p class="statscaption force">Number of followers</p>
				<p class="statsdata force"><%= Twitter.user("#{current_user.twitter}").followers_count %></p>
			<% else %>
			
			<p> Give us your twitter account </p>
			
			<% end %>
			</div>
		</div>
		<div class="clear"></div>
		<div id="module4">
		  <div class="block4">
		    <p class="block4p">Places</p>
		    <hr>
		    <div id="map" style="width:890px; background-color: #E5E3DF;"></div>
		  </div>
		</div>
	</div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCv31jeSAZxiIvrNbXd69mJVi2Md38e1Oc&sensor=false"></script>
<script type="text/javascript">
  var postData;
  var getPosts = $.get("/data/<%= current_user.id %>/posts", function(results) {
    postData = results;
  });
  
  var placesData;

  $(function() {
    var lowSat = [{featureType: "all",stylers: [{ saturation: -100 }]}];
    
    var myOptions = {
    	mapTypeId: google.maps.MapTypeId.ROADMAP,
    	styles: lowSat,
    	mapTypeControl: false,
    	panControl: false,
    	zoomControl: true,
    	mapTypeControl: false,
    	scaleControl: false,
    	streetViewControl: false,
    	overviewMapControl: false
    };
    var postData, photoData, placesData;
    
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    
    var placePromise = $.get("/data/<%= current_user.id %>/places", function(results) {
      placesData = results;
      var bounds = new google.maps.LatLngBounds();
      for (var i in placesData) {
        var place = placesData[i];
        var myLatlng = new google.maps.LatLng(place.latitude,place.longitude);
        bounds.extend(myLatlng);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:place.message
        });
      }
      map.fitBounds(bounds);
    });
    
    var postPromise = $.get("/data/<%= current_user.id %>/posts", function(results) {
      postsData = results;
    });
    
    var photosPromise = $.get("/data/<%= current_user.id %>/photos", function(results) {
        photoData = results;
    });
    
    $.when(placePromise, postPromise, photosPromise).then(
      function(placeJSON, postJSON, photosJSON){

        });
  });
</script>
